---

export const prerender = false;

const { param } = Astro.params;

const response = await fetch(Astro.url.origin +`/api/test-param-success/${param}`)
const data = await response.json();

---

<h1>{JSON.stringify(data)}</h1>